     {% include "header.html" %}


    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 position-relative overlay-bottom">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
            <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Reservation</h1>
            <div class="d-inline-flex mb-lg-5">
                <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
                <p class="m-0 text-white px-2">/</p>
                <p class="m-0 text-white">Reservation</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <div class="container-fluid my-5">
        <div class="container">
            <div class="reservation position-relative overlay-top overlay-bottom">
                <div class="row align-items-center">
                    <div class="col-lg-6 my-5 my-lg-0">
                        <div class="p-5">
                            <div class="mb-4">
                                <h1 class="display-3 text-primary">30% OFF</h1>
                                <h1 class="text-white">For Online Reservation</h1>
                            </div>
                            <p class="text-white">Book your table through us and avail amazing offers at the cafe.</p>
                            <ul class="list-inline text-white m-0">
                                <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Get free drinks</li>
                                <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Get a VIP seating</li>
                                <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Arrange party for your loved ones</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-center p-5" style="background: rgba(51, 33, 29, .8);">
                            <h1 class="text-white mb-4 mt-5">Book Your Table</h1>
                            <form class="mb-5", method="post">
                                {{ rv.hidden_tag() }}
                                {{ rv.cafe_name(class="form-control bg-transparent border-primary p-4", placeholder="Name of the cafe") }}
                                <br>
                                {{ rv.name(class="form-control bg-transparent border-primary p-4", placeholder="Name") }}
                                <br>
                                {{ rv.email(class="form-control bg-transparent border-primary p-4", placeholder="Email") }}
                                <br>
                                {{ rv.date_time(class="form-control bg-transparent border-primary p-4", placeholder="Date and Time") }}
                                <br>
                                {{ rv.contact(class="form-control bg-transparent border-primary p-4", placeholder="Contact") }}
                                <br>
                                {{ rv.person(class="form-control bg-transparent border-primary p-4", placeholder="Number of persons") }}
                                <br>
                                {{ rv.book(class="btn btn-primary btn-block font-weight-bold py-3") }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     {% include "footer.html" %}